/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

#bigbox {
	width: 75%;
	margin: 0px auto;
	text-align: center;
}

nav {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 2.5% 0px;
}

nav a {
	margin: 0px 8% 0px 0px;
	color: lightgrey;
    text-decoration: none;
    display: inline-block;
}

.logo {
	margin: 0px 0px 0px 5%;
	vertical-align: middle;
	
}

.intro {
	display: inline-block;
	margin: 5%;
	vertical-align: middle;
}

.slogan {
    font-family: 'Bangers', cursive;
    font-size: 75px;
    text-align: center;
    display: inline-block;
}

.slogan a {
	font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 24px;
    width: 180px;
    margin: 0px 20px;
    padding: 5px;
    text-align: center;
    color: black;
    display: inline-block;
    border: 1px solid black;
}

.Container1 {
	display: inline-block;
	width: 40%;
    box-sizing: border-box;
    margin: 2.5% 0.5%;
}

.Container2 {
	display: inline-block;
	width: 26%;
    box-sizing: border-box;
    margin: 2.5% 0.5%;
}

p {
    text-align: left;
}

h2 {
    text-align: left;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

address {
	text-align: left;
}